data/1_binaries/bam/*.bam
data/1_binaries/bam/*.bai
data/1_binaries/hic/*.hic
data/1_binaries/hic/*.cool
data/1_binaries/hic/*.mcool
data/2_sparse_matrices/
results/
src/__pycache__
unittest/__pycache__
